<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                As an aspiring Aerospace Engineer, I am currently pursuing a bachelor's and master’s degree in
                Astronautical Engineering at Embry-Riddle Aeronautical University. Additionally, I am pursuing minors in
                Mathematics and Space/Flight Operations. I currently hold an associate degree in applied mathematics
                from Palomar College, which I earned through dual enrollment while attending high school. My coursework
                in aerospace engineering has provided me with a strong foundation in various aspects of the field,
                including spacecraft design, rocket propulsion, and orbital mechanics. I am an active member of the AIAA
                Design-Build-Fly team, where I have gained practical experience in designing, building, and testing
                aircraft. Through my coursework and extracurricular activities, I have developed a deep understanding of
                engineering principles, technical skills, and problem-solving abilities. I am excited to continue
                building upon this foundation as I pursue a career in Aerospace Engineering.
            </p>
            <p class="paragraph-text justify-text">
                Throughout my academic journey, I have participated in various programs such as AIAA Design-Build-Fly
                and FRC Robotics. These activities showcase my passion for engineering and have allowed me to earn
                certificates and hone skills in several 3D CAD software and Computer Programming Languages. I enjoy
                tinkering with my 3D printer, building planes, working on cars, and everything in between. These
                experiences have equipped me with a wide range of soft skills, including problem-solving and critical
                thinking.
            </p>
            <p class="paragraph-text justify-text">
                Through my internships I have learned important technical skills such as technical drafting and CNC
                milling but also further utilized my ability in 3D CAD and computer programming. My work history has
                provided me with experience working in teams, problem solving, and working quickly, creatively, and
                efficiently. My last internship at Mercury Health, renamed Mercury Alert, I designed the
                second-generation senior monitoring system. The design included the overall structure, motherboards,
                sensor installation, etc. While designing this new prototype through the R&D process, heat from the
                senor array caused by inferred lights would melt through plastic and heat metals to uncomfortable
                temperatures. While far from Aerodynamic Structures, it provided me experience in working with materials
                and overall design, which led me to use a heat resistant coating and polymer. Finished Results, a sports
                management company, has given me vital soft skills such as collaborating with customers and clients,
                creative and time sensitive problem solving, and teamwork. As a Regional Lead Timer for the greater San
                Diego area, I managed multiple accounts and a team of four while working with sensor suites, cameras,
                SQL Databases, electrical equipment, and computer programming.
            </p>

            <p>
            <div class="skills-grid">
                <div class="what-i-do">
                    <p class="paragraph-text justify-text">

                        I post all many of my projects, interests, and other activities under the corresponding <a
                            href="{/projects.html}">projects tab</a>. You can also find many of my software projects on
                        <a href="https://github.com/{{ site.github_username }}">GitHub</a>. My email address can be
                        found at the <span class="extra-link"><a href="#extra">bottom</a></span> of this page.
                    </p>
                </div>
                <div class="technical-skills">
                    <div class="progress-bars">
                        <div class="skillbar clearfix " data-percent="90%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Solidworks</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="90%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Autodesk</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="95%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>3D-Printing</span></div>
                            <div class="skillbar-bar" style="background: #3498db"></div>
                        </div> <!-- End Skill Bar -->


                        <div class="skillbar clearfix " data-percent="80%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Java</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="70%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Python</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="75%">
                            <div class="skillbar-title" style="background: #2980b9"><span>MatLab</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="70%">
                            <div class="skillbar-title" style="background: #2980b9"><span>CNC Mill</span></div>
                            <div class="skillbar-bar" style="background: #3498db"></div>
                        </div> <!-- End Skill Bar -->
                    </div>
                </div>
            </div>


        </div>
    </section>
</div>